<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'muzyk/style.css' %}">
    <meta charset="UTF-8">
    <title>Analiza oferty</title>
</head>
<body>
<form method="post">
    {% csrf_token %}

 <div class="container">


     <h2><b>Analiza oferty</b></h2>

     <form method="post">
         {% csrf_token %}

      <p><label>Oferta [zł] </label> <input type="number" min="0" name="oferta" />


    <input type="radio" name="wartosc" value="netto" id="netto" >netto
      <input type="radio" name="wartosc" value="brutto" id="brutto" >brutto</p>


     <fieldset>
         <legend>Transport</legend>
     <p><label>Odległość [km] </label>
         <input type="number" required min="0" step="0.01" name="odleglosc" /></p>
     <p><label>Ilość aut </label>
         <input type="number" min="0" name="cars" />
     <p><label>Średnie spalanie [l/100km] </label>
        <input type="number" min="0" name="spalanie" /></p>
     <p><label>Średnia cena paliwa [zł] </label>
         <input type="number" min="0" name="paliwo" /></p>
         </fieldset>

     <fieldset>
         <legend>Inne</legend>
     <p><label>Koszt noclegu [zł] </label>
         <input type="number" min="0" name="hotel" /></p>
     <p><label>Dodatkowe koszta [zł] </label>
         <input type="number" min="0" name="inne" /></p>
          </fieldset>


      <p>
          <input type="button" value="Na czysto" onclick="calcWynik()" >
          <input type="text" name="wyn"><br>

      </p>
         <p>
          <input type="reset" onclick="reset" value="Wyczyść">
      </p>

 </form>

<script>
    function calcWynik() {
        let of = document.getElementsByName("oferta")[0].value;
        let inn = document.getElementsByName("inne")[0].value;
        let odl = document.getElementsByName("odleglosc")[0].value;
        let car = document.getElementsByName("cars")[0].value;
        let spa = document.getElementsByName("spalanie")[0].value;
        let pal = document.getElementsByName("paliwo")[0].value;
        let noc = document.getElementsByName("hotel")[0].value;

        let transport = Number(car) * Number(odl) * Number(spa) * Number(pal) / 100

        let wyn = Number(of) - Number(inn) - Number(transport) - Number(noc);
        document.getElementsByName("wyn")[0].value = wyn;
    }

</script>

</body>
</html>