<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'muzyk/style.css' %}">
    <style>
        h1,h2 {text-align: center;
            align: middle;}

        .guzik{
            position: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Cześć</title>
</head>
<body>
    {% if not user.is_authenticated %}
        <p><h1><a href="/login">Logowanie</a></h1></p>
        <p><h1><a href="{% url 'muzyk:fast' %}">Szybkie kalkulacje</a></h1></p>
    {% endif %}
    {% if user.is_authenticated %}
        <p><h1>Witaj {{ user.username }}!</h1></p>
        <div>
            <form action="/logout/">
                <input type="submit" value="Wyloguj" style="display: block; margin: auto;">
            </form>
        </div>
        <hr>
        <p><h1><a href="{% url 'muzyk:slow' %}">Kalkulacje</a></h1></p>
    {% endif %}

</body>
</html>