<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'muzyk/style.css' %}">
    <meta charset="UTF-8">
    <title>Szczegóły samochodu</title>
</head>
<body>
    <h2>{{ object.nazwa }}</h2>
    <table class="table">-->
    <tr><th>Lp.</th><th>Nazwa</th><th>Paliwo</th><th>Ile litrów pali na 100km</th><th>W jakim jest zespole</th><th>Nazwa użytkownika, który go stworzył</th></tr>
    <tr>
      <td>{{ object.id }}</td>
      <td>{{ object.nazwa }}</td>
      <td>{{ object.paliwo }}</td>
      <td>{{ object.ile_litrow_pali_na_100_km }}</td>
      <td>{{ object.zespol }}</td>
      <td>{{ object.autor }}</td>
    </tr>
    </table>
    <p>Wróć do <a href="{% url 'muzyk:samochod-lista' %}">poprzedniej strony</a>.</p>
</body>
</html>