<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'muzyk/style.css' %}">
    <meta charset="UTF-8">
    <title>Obliczenia dla zalogowanego uzytkownika</title>
</head>
<body>
    <div class="container">
    <p></p>

        <hr>
        <ul>
            <li><h3><a href="{% url 'muzyk:zespol-lista' %}">Lista zespołów</a></h3></li>
            <li><h3><a href="{% url 'muzyk:samochod-lista' %}">Lista samochodow</a></h3></li>
        </ul>
        <hr>
        <ul>
            <li><h3><a href="analiza">Analiza Oferty</a></h3></li>
            <li><h3><a href="wycena">Wycena zlecenia</a></h3></li>
            <li><h3><a href="podzial">Podział złota</a></h3></li>
        </ul>
        <hr>
    </div>
</body>
</html>