
{% extends 'muzyk/main.html' %}
{% load static %}
{% block content %}
<body>

<form method="post">
    {% csrf_token %}

 <div class="container">


     <h2><b>Wycena zlecenia</b></h2>

     <form method="post">
         {% csrf_token %}

      <p><label>Oczekiwana stawka [zł] </label> <input type="number" min="0" name="stawka" />


    <input type="radio" name="wartosc" value="netto" id="netto" onclick="showHide()">netto
          <input type="radio" name="wartosc" value="brutto" id="brutto" onclick="showHide()" checked>brutto

    <div id="hiddenBlock">
        <label>Podatek [%]</label> <input type="number" min="0" max="99" name="podatek" id="podatek" />
    </div>

     <fieldset>
         <legend>Transport</legend>
     <p><label>Odległość [km] </label>
         <input type="number" required min="0"  name="odleglosc" /></p>
     <p><label>Ilość aut </label>
         <input type="number" min="0" name="cars" />
     <p><label>Średnie spalanie [l/100km] </label>
        <input type="number" min="0" name="spalanie" /></p>
     <p><label>Średnia cena paliwa [zł] </label>
         <input type="number" min="0" name="paliwo" /></p>
         </fieldset>

     <fieldset>
         <legend>Inne</legend>
     <p><label>Koszt noclegu [zł] </label>
         <input type="number" min="0" name="hotel" /></p>
     <p><label>Dodatkowe koszta [zł] </label>
         <input type="number" min="0" name="inne" /></p>
          </fieldset>


      <p>
          <input type="button" value="Wycena" onclick="calcWynik()" >
          <input type="text" name="wyn"><br>

      </p>
         <p>
          <input type="reset" onclick="reset" value="Wyczyść">
      </p>

 </form>
{% endblock %}
{% block script %}
<script src="{% static 'muzyk/js/wycena.js' %}">
</script>
{% endblock %}
</body>
</html>