<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Zespolow</title>
</head>
<body>
    <h1>Lista Zespołów</h1>

    <table class="table">
    <tr><th>Lp.</th><th>Nazwa</th><th>Ilość członków</th><th>Skład</th><th>Manager</th><th>Minimalna kwota zlecenia</th><th>Fundusz</th><th>Operacje</th></tr>
    {% for p in object_list %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ p.nazwa }}</td>
      <td>{{ p.ilosc_czlonkow }}</td>
      <td>{{ p.sklad_zespolu }}</td>
      <td>{{ p.manager }}</td>
      <td>{{ p.min_kwota_zlecenia }}</td>
      <td>{{ p.fundusz }}</td>
      <td>{{ p.autor.username }}</td>
      <td>
        {% if 1 == 1 %}  <!--{% if p.autor.username == user.username %}-->
          <a href="#">Edytuj</a> &bull;
          <a href="#">Usuń</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>