<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'muzyk/style.css' %}">
    <meta charset="UTF-8">
    <title>Lista Zespolow</title>
</head>
<body>
    <div class="container">
    <!--    Widok w stringu poprostu-->
        <h1>Zespoły</h1>
        <p></p>
        <form action="{% url 'muzyk:zespol-create' %}">
            <input type="submit" value="Dodaj">
        </form>
    <!--    <ol>-->
    <!--    {% for item in object_list %}-->
    <!--        <li>{{item}}</li>-->
    <!--        <a href="{% url 'muzyk:zespol-update' item.id %}">Edytuj</a>-->
    <!--        <a href="{% url 'muzyk:zespol-delete' item.id %}">Usuń</a>-->
    <!--    {% endfor %}-->
    <!--    </ol>-->

    <!--    Widok w tabeli-->
        <table class="table">
        <tr><th>Lp.</th><th>Nazwa</th><th>Operacje</th></tr>
        {% for p in object_list %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'muzyk:zespol-detail' p.id %}">{{ p.nazwa }}</a></td>
          <td>
            {% if p.autor.username == user.username %}
    <!--          <a href="{% url 'muzyk:zespol-detail' p.id %}">Szczegóły</a>    albo szczegóły obok edytuj i usun albo szczegóły klikając w nazwę zespołu-->
              <a href="{% url 'muzyk:zespol-update' p.id %}">Edytuj</a>
              <a href="{% url 'muzyk:zespol-delete' p.id %}">Usuń</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
        </table>
        <p>Wróć do <a href="{% url 'muzyk:slow' %}">poprzedniej strony</a>.</p>
    </div>
</body>
</html>