<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add your bands profile</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="quantity">Quantity:</label><input type="number" id="quantity" name="quantity" min="1">
        <label for="car">Car:</label><input type="text" id="car" name="car">
        <label for="fuel_consumption">Fuel consumption(l/100km):</label><input type="number" step="any" id="fuel_consumption" name="fuel_consumption" min="1">
        <label for="manager">Manager (T/N):</label><select id="manager" name="manager">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <label for="amount">Amount:</label><input type="number" step="0.01" id="amount" name="amount" min="1">
        <input type="submit" value="Send">
    </form>
    <p>Return to the <a href="/estimate-costs">main page</a>.</p>
</body>
</html>