<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order valuation</title>
    <style>
    .reveal-if-active {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        input[type="radio"]:checked ~ & {
        opacity: 1;
        max-height: 100px;
        overflow: visible;
        }
    }
    </style>
</head>
<body>
    <form method="POST" action="#">
        {% csrf_token %}
        <label for="our_price">Our price:</label><input type="number" step="any" placeholder="5000" id="our_price" name="our_price">zł
        <p>Type of contract:</p>
        <div>
            <input type="radio" id="fv" name="type_of_contract" checked><label for="fv">Faktura VAT</label><br>
            <div class="reveal-if-active">
                <input class="reveal-if-active" type="number" value="23" id="fv_tax" name="fv_tax" data-require-pair="#fv"><label for="fv_tax">Tax=</label>
            </div>
            <div>
                <input type="radio" id="uz" name="type_of_contract"><label for="uz">Umowa zlecienie</label>
                <div class="reveal-if-active">
                    <input type="number" value="23" id="uz_tax" name="uz_tax" data-require-pair="#uz"><label for="uz_tax">Tax=</label>
                </div>
            </div>
            <label for="uod"><input type="radio" id="uod" name="type_of_contract">Umowa o dzieło</label>
        </div>
<!--        <label for="tax">Tax:</label><input type="number" id="tax" name="tax">%<br>-->
        <label for="trip_costs">Trip costs:</label><input id="trip_costs" name="trip_costs">
        <input type="submit" value="Send">
    </form>
    <p>Return to the <a href="/estimate-costs">main page</a>.</p>
</body>
</html>