<!DOCTYPE html>
<html lang="en">
<head>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"-->
<!--          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<!--    {% load static %}-->

<!--    <link rel="stylesheet" type="text/css" href="{% static 'muzyk/style.css' %}">-->
<!--    <style>-->
<!--        h1 {text-align: center;-->
<!--            align: middle;}-->
<!--    </style>-->
    <meta charset="UTF-8">
    <title>Formularz do rejestracji</title>
</head>
<body>
    <h1>Tworzenie konta</h1>
    <form method="POST" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Utwórz konto">
    </form>
</body>
</html>