
body {
    background: url("images/background.jpg") no-repeat center fixed;
    background-size: cover;
}

.center {
    position: absolute;
    height: X px;
    width: Y px;
    left:50%;
    top:50%;
    margin-top:- X/2 px;
    margin-left:- Y/2 px;
}